<article class="post">
    <div class="title">
        <a>{{title}}</a><br><br>
        <a>{{text}}</a>
        <a hidden class="user-email">{{user.email}}</a>
    </div>
    <div class="meta">
        <a href="/post/{{id}}">Comments: {{comments.length}}</a>
    </div>
</article>